@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");

body{
    background:rgba(255,255,255,1);
    color: #555f66;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 300;
    margin: 0 0 65px; /* bottom = footer height */

}

h1, h2, h3, h4, h5, h6 {
    color: #666f77;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}
.content h2 a{
    text-decoration: none;
    list-style-type: none;
    color: #666f77;
    font-size: 18px;
}
.content{
    font-size: 16px;
}

#header-wrapper{
    position:relative;
    background-image: url("../content/images/banner.jpg");
    background-size: cover;
    height:200px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.28);
    z-index:2;
}
#logo{
    display: block;
    background-image: url("../content/images/logo.png");
    background-repeat: no-repeat;
    height:83px;
    width:86px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#header-wrapper .col{
    margin-bottom:0;
}

#header-logo h2{
    text-align: center;
    color: white;
    font-family:"Roboto", Helvetica, sans-serif;

}
#header nav #main-menu{
    text-align: center;
    margin: 0 auto;
    display: table;
}
#header nav #main-menu>ul{
    list-style: none;
}
#header nav #main-menu>ul>li{
    display: inline;
}
#header nav #main-menu>ul>li>a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    float: left;
    padding-right: 50px;
}
#header nav #main-menu>ul>li:hover a{
    color: #192024;
    text-underline: white;
}
#main-menu-links{
    padding: 0px;
}

/*
Buttons
*/
.btn{
    background:rgba(0,170,204,0.66);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid rgba(0,170,204,1);
}
.btn>i{
    margin-right:12px;
}
.btn:hover{
    background:rgba(0,170,204,0.86);
}
.btn:focus{
    outline:0;
}
.btn:active{
    background:rgba(0,170,204,1);
}

.content{
    background-color: #ffffff;
    padding: 10px;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    color: #666f77;
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea,
.button-primary,
#edit-submit,
#edit-vote{
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 6px;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid,
.button-primary,
#edit-submit,
#edit-vote{
    box-shadow: none;
}
.button-primary,
#edit-submit,
#edit-vote{
    background-color: #192024;
    color:white;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus
{
    border-color: #629DD1;
    box-shadow: 0 0 0 1px #629DD1;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
.button-primary,
#edit-submit,
#edit-vote{
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #555f66;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 6px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #192024;
    border-color: #192024;
    color: #ffffff;
    content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #629DD1;
    box-shadow: 0 0 0 1px #629DD1;
}

input[type="checkbox"] + label:before {
    border-radius: 6px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #bbb !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #bbb !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #bbb !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #bbb !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #bbb !important;
    opacity: 1.0;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
    height: 22px !important;
}
.footer{
    background-color: #192024;
    color:white;
    height: 65px;
    width: 100%;
}

.footer li{
    float: right;
    padding-left: 20px;
    list-style-type: none;
    padding-top: -10px;
    text-decoration: none;
}
.footer li a{
    color:white;
    text-decoration: none;
}
.footer .content{
    background-color: #192024;
}
#block-menu-menu-footer-menu h2{
    display: none;
}
ul li.leaf{
    list-style-type: none;
    list-style-image: none;
}
@media only screen and (max-width : 768px) {
    #header-logo h2 {
        font-size: 12px;
    }
}